@import './scss/variables';

#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.ant-input-search {
  width: 200px !important;
}

.body-wrapper {
  display: flex;
  height: inherit;
  overflow-y: auto;
  overflow-x: hidden;

  margin-left: $gap;

  border: 1px solid grey;
}
