$background-light: #fff;
$background-active: #ebf4fa;
$background-dark: #DDE2E5;

$sidebar-width: 400px;
$cards-row-width: 400px;
$search-width: 200px;
$gap: 20px;
$half-gap: 10px;

$module-border-left: 3px solid #5f6468;
$module-border: 2px solid #e2e2e2;
$dashboard-wrapper-border: 1px solid #ebedf0;

$scrollbar-track-color: #fafafa;
$scrollbar-thumb-color: #c2c2c2;
